.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* This ensures the container takes the full viewport height */
    color: var(--white);
}

h1{
    text-align: center;
    font-size: 50px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    text-align: center;
    font-size: 24px;
    color: #a4acc4;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.myName {
    color: var(--primary);
}

.bannericon{
    margin-right: 28px;
    width: 34px;
    height: 34px;
}

.iconContainer {
    display: flex; /* Use Flexbox to arrange icons in a row */
    justify-content: center; /* Center icons horizontally within the container */
    align-items: center; /* Center icons vertically within the container */
  }
  